.place-card {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.place-card img {
  max-width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.place-card img:hover {
  transform: scale(1.1);
}
.hover-card {
  transition: transform 0.2s;
}

.hover-card:hover {
  transform: scale(1.03);
}
